.table-bordered th,
.table-bordered td {
  border: 1px solid #e2e8f0;
  border-top-width: 0;
}
.dark .table-bordered th,
.dark .table-bordered td {
  border: 1px solid #2f2f2f;
  border-top-width: 0;
}

.table-bordered th:first-child,
.table-bordered td:first-child {
  border-left-width: 0;
  border-bottom-width: 0;
  border-top-width: 0;
}

.table-bordered th:last-child,
.table-bordered td:last-child {
  border-width: 0;
}
.table-bordered .table-col tr:first-child, 
.table-bordered .table-row tr th:first-child
 {
  background-color: #f7f6f3;
}
.dark .table-bordered .table-col tr:first-child, 
.dark .table-bordered .table-row tr th:first-child
 {
  background-color: rgba(255,255,255, .03);
}


